@tailwind base;
@tailwind components;
@tailwind utilities;

.header_banner_bg {
  filter: brightness(0.6);
}
.banners_buttons{
  margin-top: 95px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.banners_button1, .banners_button2{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 16px;
  border-radius: 10px;
  background-color: #F97316;
  width: 300px;
  height: 60px;
}
.banners_button2{
  background-color: transparent;
  border: 1px solid #F97316;
  color: #fff;
}
body, html{
  scroll-behavior: smooth;
  background-color: #fff;
}
input:focus{
  outline: none;
}
.header_banner .swiper-button-prev, .header_banner .swiper-button-next {
  display: none;
}
main .absolute{
  z-index: 1;
}
.header_banner .container h3 {
  font-family: Unbounded;
}
/* ------------------------------ */

.cart_hr{
  width: calc(100% - 104px);
  margin: auto;
  height: 2px;
  margin-top: 28px;
  margin-bottom: 28px;
  background-color: #707070;
}
header .cart .content{
  display: flex;
  flex-direction: column;
  color: #000;
  gap: 20px;
}
.favorite_svgs svg{
  transition: 0.2s;
}
.favorite_svgs svg:hover{
  stroke: #F97316;
  fill: #F97316;
  cursor: pointer;
}

.favorite_product{
  display: flex;
  flex-direction: row;
  padding-bottom: 28px;
  border-bottom: 2px solid #707070;
}
.favorite_product_desc{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.buy_buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-size: 23px;
  margin-top: 16px;
}
.buy_buttons button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 30px;
  height: 30px;
  background-color: #B9B9B9;
  border-radius: 3px;
  color: #000;
  margin: 0;
}
.product_desription p{
  color: #949494;
  font-size: 18px;
  margin-top: 5px;
}
.product_desription h3{
  font-size: 16px;
}
/* ------------------------------ */
.header_banner .container p {
  font-family: Manrope;
}
.swiper-wrapper{
    width: 500px !important;
}
.swiper-pagination-bullet {
  width: 95px !important;
  height: 2px !important;
  background: #F4F4F4 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #F97316 !important;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: rgb(29, 29, 29);
}

::-webkit-scrollbar-thumb {
  background: #F97316;
  border-radius: 8px;
  /* border: 3px solid #fff; */
}

::-webkit-scrollbar-thumb:hover {
  background: #43b3ae;
}
.nofill-button {
  border-radius: 6px;
  border: 1px solid #F97316;
  color: #F4F4F4;
  padding: 8px 35px;
  font-size: 16px;
  font-weight: 600;
  font-family: Manrope;
}
ul, span{
  color: #000;
}
section{
  padding-top: 100px;
}
.section_aboutus {
  color: #000;
}
.section_header{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  color: #000;
  font-size: 42px;
}
.section_header span{
  color: #F97316;
}
.section_header h1{
  font-family: unbounded;

}
.section_header h1, .section_parts h1{
  font-weight: 700;
}
.section_faq .section_header, .section_contact .section_header{
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  color: #000;
  row-gap: 20px;
  font-size: 42px;
}
.question .content li{
  color: #000;
}
.under_header_text{
  font-size: 18px;
  margin-left: 100px;
  width: 640px;
}
.section_header_inside{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  color: #000;
  font-size: 42px;
}
.aboutus_parts h2{
  font-weight: 600;
  font-size: 23px;
}
.aboutus_parts h1{
  font-size: 26px;
  font-weight: 700;
}
.header_line{
  width: 88px;
  height: 1px;
  background-color: #F97316;
}
.aboutus_parts{
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  justify-content: center;
}
.aboutus_part1, .aboutus_part2{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 68px;
}
.part1_left{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-size: 20px;
}
.part1_left span{
  color: #F97316;
}
.part2_right_text{
  display: flex;
  row-gap: 20px;
  font-size: 20px;
  flex-direction: column;
}
.part2_right{
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.ratings{
  display: flex;
  flex-direction: row;
  column-gap: 60px;
}
.rating{
  display: flex;
  flex-direction: column;
}
.rating span{
  font-family: unbounded;
  font-size: 50px;
  font-weight: 700;
  color: #F97316;
}
.section_catalog{
  display: flex;
  flex-direction: column;
}
.section_catalog .section_header{
  padding-bottom: 50px;
}
.section_catalog{
  padding-bottom: 50px;
}
.catalog_main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
}
.catalog_object{
  width: calc(25% - 30px);
  background-color: #e6e9ec;
  display: flex;
  flex-direction: column;
}
.object_desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.object_desc_text{
  height: 3lh;
  margin-top: 20px;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.object_desc h1{
  font-weight: 700;
}
.object_photo{
  padding: 20px;
  position: relative;
}
.object_price{
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  font-weight: 600;
  font-size: 22px;
  padding-top: 10px;
  padding-bottom: 25px;
}
.object_photo svg{
  position: absolute;
  top: 30px;
  right: 35px;
  cursor: pointer;
}
.object_photo svg:hover{
  fill: #F97316;
}
.object_buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.object_button1{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  color: #fff;
  border-radius: 5px;
  border: none;
  width: 100%;
  padding: 10px 0px 10px 0px;
  font-size: 21px;
}
.object_button2{
  font-size: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #000;
  border-radius: 5px;
  border: 1px solid #202020;
  width: 100%;
  padding: 10px 0px 10px 0px;
}

.section_reasons{
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}
.reasons{
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
}
.reason{
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  color: #000;
  font-size: 20px;
  width: calc(50% - 40px);
}
.reason_icon{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e9ec;
  padding: 20px;
  border-radius: 20px;
}
.reason_text{
  width: 80%;
}
.reason_text span{
  font-size: 23px;
  color: #F97316;
}
.markdown li{
  list-style-type: disc;
}
.works_items .content h4{
  color: #000;
  font-size: 24px;
}
.section_our_works .section_header{
  padding-bottom: 70px;
}
.down_button{
  margin-top: 100px;
}
.works_items .top_content .swiper-slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
  aspect-ratio: 16/10;
}
.works_items{
  display: flex;
  margin-bottom: 100px;
  flex-direction: row;
  justify-content: space-between;
}
.works_items .content{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 20px;
}
.works_items .item{
  width: calc(50% - 13px);
  display: flex;
  flex-direction: row;
}
.works_items .item .top_content {
  width: calc(100% - 70px - 13px);
}
.works_items .item .small_photos{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70px;
}
.small_photos{
  margin-left: 12px;
}
.small_photos .swiper-slide-thumb-active{
  border: 2px solid #F97316;
  border-radius: 7px;
}
.small_photos .swiper-wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100% !important;
}
.small_photos .swiper-slide{
  height: 66px;
  width: 100% !important;
  object-fit: cover;
}
.small_photos .swiper-slide img{
  border-radius: 7px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.works_items .item .swiper{
  display: flex;
  flex-direction: column;
} 
a button{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: #F97316;
  border: 1px solid #F97316;
  border-radius: 10px;
  width: 235px;
  height: 47px;
  gap: 10px;
}
#section_aboutproduction{
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.abprod{
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.abprod_left{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.abprod_left h1{
  font-size: 48px;
  font-weight: 700;
}
.abprod_left h2{
  font-size: 23px;
  font-weight: 500;
}
.abprod_left p{
  font-size: 18px;
}
.section_faq h4{
 color: #000;
 font-size: 22px;
}
.section_faq{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.questions{
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 40px;
}
.question{
  background-color: #e6e9ec;
  padding: 32px 38px;
  width: 75%;
}
.question button {
  background-color: #e6e9ec;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.question .content{
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  transition: 0.2s;
}
.question.active .content{
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  transition: 0.8s !important;
}
.question span {
  display: block;
  margin: 0px;
  background: #e6e9ec;
  height: 1px;
  width: 50%;
  transition: 0.2s;
}
.question.active span {
  margin: 28px 0 18px 0;
  background: #B9B9B9;
}
.question .content div {
  color: #1A1A1A;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.6;
}
/* ---------------------------- */
.contacts_main_part{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.question_img{
  filter: brightness(0.5);
}
.contacts_main_part .section_header{
  display: flex;
  flex-direction: row;
  padding: 0;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.contacts_main_part p{
  padding: 35px 0px 35px 0px;
}
.contacts_inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
}
.contacts_inputs input{
  padding: 0px 0px 0px 20px;
  border-radius: 10px;
  font-size: 18px;
  width: 100%;
  color: #000;
  height: 65px;
}
.contacts_inputs button{
  width: 100%;
  height: 65px;
  font-size: 18px;
  background-color: #F97316;
  border-radius: 10px;
}
.inputs_text{
  text-align: center;
  color: #fff;
  font-size: 18px;
  width: 80%;
}
.inputs_text p{
  font-weight: 500;
}
.contacts_inputs a{
  text-decoration: underline;
  cursor: pointer;
  color: #fff;
  font-weight: 300;
}
/* ---------------------------- */
/* .contact_main{
  display: inline-flex;
  flex-direction: column;
  width: 60%;
  background-color: #F97316;
  padding: 55px 205px 80px 95px;
  border-radius: 5px;
  gap: 20px;
}
.contact_inputs{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.inputs_up{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.inputs_up input{
  padding: 20px;
  height: 55px;
  width: 100%;
  border-radius: 5px;
}
.inputs_down input{
  width: 100%;
  height: 75px;
  border-radius: 5px;
  padding: 20px;
}
.contact_text{
  display: flex;
  flex-direction: row;
  gap: 20px;
  font-size: 18px;
  font-weight: 500;
} */
.text_button a{
  text-decoration: none;
}
.text_link a{
  text-decoration: underline;
  cursor: pointer;
}
.text_button{
  background-color: #1a1a1a;
  color: #000;
  font-size: 22px;
  border-radius: 5px;
  height: 65px;
}
footer{
  width: 100%;
  height: 393px;
  display: flex;
  justify-content: space-around;
  background-color: #1a1a1a;
  align-items: center;
  padding-top: 70px;
}
footer .container{
  display: flex;
  flex-direction: column;
}
.footer_main_part{
  display: flex;
  flex-direction: row;
}
.footer_left{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 265px;
}
.footer_right{
  display: flex;
  flex-direction: row;
  height: 265px;
  column-gap: 150px;
  position: relative;
  left: 180px;
}

.footer_menu_border {
  position: relative;
}
.footer_menu, .footer_lawyer, .footer_contacts, .footer_questions{
  list-style-type: none;
}
.footer_menu_border::before {
  content: "";
  height: 40%;
  display: block;
  position: absolute;
  right: -70px;
  border: 1px dashed #F97316;
  opacity: 0.3;
}

.footer_menu, .footer_lawyer, .footer_questions, .footer_contact{
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  color: #fff;
}
.footer_right ul{
  color: #F97316;
}
.footer_lawyer{
  display: flex;
  width: 280px;
}
.footer_contacts ul{
  font-weight: 700;
}
.footer_contacts{
  color: #8F8F8F;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 280px;
}
.footer_copyright{
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #7b7b7b;
}
.contacts{
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}
.contacts div{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #272727;
  height: 27px;
  width: 27px;
}
/* --------------- */
.catalog_header{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  color: #fff;
  font-size: 24px;
  text-align: center;
}
.catalog_header h1, .catalog_header p{
  position: relative;
  z-index: 2;
}
.catalog_header h1{
  color: #F97316;
  font-size: 80px;
  font-family: Unbounded;
  font-weight: 700;
}
.catalog_header_img{
  filter: brightness(0.4);  
}
.catalog_categories{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  padding-top: 50px;
}
.catalog_category{
  box-shadow: #fff 0px 0px 20px -8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  gap: 10px;
  background-color: #e6e9ec;
  font-size: 18px;
  font-weight:500;
  height: 65px;
  width: calc(16.6% - 20px);
  transition: .2s;
}
.catalog_category:hover{
  box-shadow: #F97316 0px 0px 20px -8px;
  background-color: #F97316;
}
.catalog_view_all{
  display: flex;
  justify-content: end;
  align-items: center;
  height: 80px;
}
.catalog_view_all button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #F97316;
  background-color: transparent;
  border-radius: 10px;
  gap: 10px;
}
.section_filters{
  padding-top: 40px;
}
.section_filters .section_header{
  padding-bottom: 50px;
}
.filter_line_first{
  width: 100%;
  height: 1px;
  background-color: #fff;
  opacity: 0.3;
  margin-bottom: 50px;
}
.catalog_filters{
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.catalog_filter{
  height: 65px;
  width: 515px;
  border-radius: 10px;
  padding: 15px;
  font-size: 18px;
}
.filter_button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #F97316;
  font-size: 22px;
  padding: 0px 20px 0px 20px;
  color: #F97316;
}
/* --------------- */
.footer_copyright a{
  color: #F97316;
  text-decoration: underline;
}
.socials{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-top: 15px;
}
.contact_soc_icon{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #383838;
  height: 30px;
  width: 30px;
  border: none;
}
.footer_copyright p:nth-child(1){
  font-weight: 700;
}
.cart h3 {
  font-family: 'Unbounded';
}
.favorite_like[active="true"] svg {
  fill: #F97316;
}

#preloader {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #262626;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9370DB;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #BA55D3;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF00FF;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}