@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 12px;
}
  
::-webkit-scrollbar-track {
  background: #fff;
}
  
::-webkit-scrollbar-thumb {
  background: #313131;
  border-radius: 8px;
  border: 3px solid #fff;
}
  
::-webkit-scrollbar-thumb:hover {
  background: #43b3ae;
}

.header_banners {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 40px;
}

main section:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
.section_desc{
  margin-bottom: 150px;
}
header .container {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: #1F1F1F; */
}

header {
  position: relative;
}

header::before {
  content: "";
  display: block;
  position: absolute;
  aspect-ratio: 28/31;
  width: 200vw;
  top: -172vw;
  right: -120vw;
  border-radius: 500000px;
  border: 2px solid #000;
  background: url('/bg.png') no-repeat;
  background-position: 0% 100%;
  background-size: auto 25%;
  z-index: -1;
}

.circle {
  width: 1568px;
  height: 1658px;
  position: absolute;
  background-color: #313131;
  border-radius: 50%;
  z-index: 0;
  right: -258px;
}

.nav_left {
  display: flex;
  flex-direction: row;
  color: #fff;
  column-gap: 60px;
  align-items: center;
  font-size: 20px;
}

.nav_left a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.nav_left .color-black {
  color: #000;
}

.nav_left .nav {
  display: flex;
  gap: 25px;
}

.header_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  justify-content: center;
}

.header_logo h1 {
  color: #FFF;
  font-size: 25px;
  font-weight: 400;
}

.header_searching {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 35px;
}

.hsinput {
  width: 100%;
  height: 35px;
  background: rgba(28, 28, 28, 0.50);
  border-radius: 15px;
  border: 1px solid #fff;
  padding: 10px;
  color: #fff;
  transition: 0.2s;
  font-size: 11px;
  font-weight: 400;
}

.hsinput:focus {
  outline: none;
  /* width: 100%;
  height: 40px; */
}

.header_searching svg {
  position: relative;
  z-index: 1;
  right: 24px;
}

.header_right_buttons {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
}

.main_part {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.mp_name {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}
.mp_name, .main_buttons{
  margin-top: 50px;
}
.desc_text {
  font-size: 16px;
  width: 550px;
  margin: 0;
}

.button_nofill_curve {
  border-radius: 30px;
  padding: 14px 40px;
  display: block;
  margin-right: auto;
  background-color: transparent;
  border: 1px solid #000;
}

.main_slider {
  position: absolute;
  bottom: 20vh;
  right: 0;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  align-items: center;
  justify-content: center;
}

.slider_svg1 path, .slider_svg2 path, .slider_svg1 rect, .slider_svg2 rect {
  stroke: #fff;
  /* fill: #fff; */
}

.slider_svg1 path, .slider_svg2 path {
  fill: #fff;
}

.slider_svg1:hover {
  filter: drop-shadow(-1px -1px 2px rgba(0, 0, 0, .5));
}

.slider_svg2 {
  transform: rotate(180deg);
}

.slider_svg2:hover {
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, .5));
}

.main_slider svg {
  border-radius: 50px;
  transition: 0.3s;
  cursor: pointer;
}

.main_slider svg:hover {
  border-radius: 50px;
  background: #00000090;
}

.slider_photo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #43b3ae;
  font-size: 30px;
  width: 300px;
  height: 240px;
  border-radius: 30px;
}

.main_buttons{
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  justify-content: left;
}
.main_buttons a{
  margin: 0;
}
.section_banners{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}
.div_banners{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
}
.div_banners div{
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 220px;
  font-size: 40px;
}
.desc_parts{
  display: flex;
  flex-direction: row;
  column-gap: 100px;
  justify-content: center;
  align-items: center;
}
.left_part{
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  width: 40%;
  height: 70vh;
}
.right_part{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  text-align: start;
}
.right_part p:nth-child(1){
  color: #787a7a;
}
.right_part p:nth-child(2){
  font-size: 21px;
  line-height: 44px;
  width: 500px;
}
.section_catalog{
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  margin-bottom: 150px;
}
.catalog_header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.catalog_header_text{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 70%;
}
.catalog_header_text p:nth-child(1){
  font-size: 35px;
}
.catalog_header_text p:nth-child(2){
  font-size: 20px;
}
.main_catalog{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 30px;
  row-gap: 30px;
}
.catalog_object{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  /* width: calc(100vw - 255px); */
  width: calc(100% - 1250px);
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 40px;
}
.catalog_object_top{
  display: flex;
  justify-content: right;
  width: 100%;
}
.catalog_object_photo{
  background-color: #d9d9d9;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 14vh;
}
.catalog_object_text{
  text-align: center;
}
.catalog_object_text p:nth-child(1){
  font-size: 22px;
}
.catalog_object_text p:nth-child(2){
  font-size: 14px;
}
.catalog_object_bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.catalog_object_price{
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}
.catalog_object_basket{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #d9d9d9;
  height: 54px;
  width: 54px;
}
.section_contact{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}
.contact_left{
  font-size: 35px;
  width: 50%;
}
.contact_right{
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}
.contact_right input{
  border-radius: 30px;
  padding: 13px;
  border: 1px solid #000;
  font-size: 18px;
}
footer { 
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  column-gap: 300px;
  background-color: #1F1F1F;
}

.footer_right {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
}

footer a {
  text-decoration: underline;
  color: #fff;
}